body {
	width: 300px;
	height: 200px;
	margin: 15px;
}
#Rglogo {
    position: fixed;
    position: center;
    border-radius: 0px;
    width: 290px;
    margin: 0px;
}

#header{
    position: fixed;
    position: center;
    border-radius: 0px;
    top: 70px;
    left: 14px;
    font-size: 17px;
    color: black;
    background-color: white; 

}

#defaultButton {
    position: fixed;
    top: 135px;
    left:80px;
    font-size: 15px;
    border-radius: 8px;
    background-color: white;
    border: 2px solid black;
    color: #43A765;
}

#submit {
    position: fixed;
    top: 200px;
    left:80px;
    font-size: 15px;
    border-radius: 8px;
    background-color: white;
    border: 2px solid black;
    color: #43A765;
}

#newFolder {
    position: fixed;
    left:150px;
    top: 135px;
    font-size: 15px;
    border-radius: 8px;
    background-color: white;
    border: 2px solid black;
    color: #43A765;
}
#label{
    position:fixed;
    top:190px;
    left: 20px;
    color: black;
}
#textFile {
    position: fixed;
    width: 160px;
    top:190px;
    left:145px;
    color: black;
}

#optionsHeader{
    position:relative;
    left:50%;
}
